
<div class="container-main">
	<header>
		<h1>
			マンダラチャート編集
			<span><%= @main_text %></span>
		</h1>
	</header>
	<div class="container-mandalas text-center">
		<%= form_for @mandala_center, url: mandala_path, method: :patch do |f| %>
		<%= hidden_field_tag :step, @step %>
			<div class="mandalas-row">
				<div class="squares squares-gray">
					<div id="element1" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text1 %></p>
							<%= render 'mandalas/element_form',step: @step, value: 1, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element2" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text2 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 2, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element3" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text3 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 3, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
			</div>
			<div class="mandalas-row">
				<div class="squares squares-gray">
					<div id="element4" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text4 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 4, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-white">
					<div id="element5" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @center_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text5 %></p>
							<%= f.hidden_field :target, class: "element_val" %>
							<%= f.hidden_field :number %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element6" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text6 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 5, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
			</div>
			<div class="mandalas-row">
				<div class="squares squares-gray">
					<div id="element7" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text7 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 6, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element8" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text8 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 7, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element9" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text9 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 8, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
			</div>
			<div class="margin-top">
				<%= f.submit "登 録", class: "button button-white" %>
			</div>
	<% end %>
	</div>
</div>

<!-- 入力フォーム -->
<div id="input-modal" class="container">
	<i id="modal_close" class="fas fa-times pull-right fa-lg"></i>
	<div class="row">
		<div id="modal-header" class="row text-center">
			<h2 id="header-text"></h2>
		</div>
	</div>
	<div class="row cp_iptxt">
		<input id="input" class="" type="text" maxlength='30' placeholder="入力してください">
	</div>
	<div class="row text-center">
		<button id="done" class="button button-blue margin-top">入力OK</button>
	</div>
</div>


<%= javascript_include_tag "mandalas_new.js" %>
