
<div class="container-main">
	<header class="text-center">
		<h1>マンダラチャートを作成しよう!</h1>
		<p><%= @main_text %></p>
	</header>
	<div class="error_message_area text-center">
		<% if flash[:errors] %>
			<span>エラー発生:</span>
			<% flash[:errors].each do |message| %>
				<span><%= message %></span>
			<% end %>
		<% end %>
	</div>
	<% if @step == 1 %>
		<div class="info_field">
			<p class="info_title"><i class="fas fa-info-circle"></i> Information</p>
			<p class="info_text">
				達成したい目標を入力してください。<br>
				後で編集することもできます<br>
			</p>
		</div>
	<% elsif @step == 2 %>
		<div class="info_field">
			<p class="info_title"><i class="fas fa-info-circle"></i> Information</p>
			<p class="info_text">
				目標達成に必要な要素を入力してください。<br>
				＜例＞<br>
				目標：英語を話せるようになる<br>
				要素：語彙力、リスニング力 etc...
			</p>
		</div>
	<% elsif @step == 3 %>
		<div class="info_field">
			<p class="info_title"><i class="fas fa-info-circle"></i> Information</p>
			<p class="info_text">
				各要素をクリックすると、<br>
				行動入力画面に遷移します。<br>
				遷移先では要素の編集をすることも<br>
				できます。<br>
			</p>
		</div>
	<% elsif @step == 4 %>
		<div class="info_field">
			<p class="info_title"><i class="fas fa-info-circle"></i> Information</p>
			<p class="info_text">
				要素を実現するために必要な行動を<br>
				入力してください。<br>
				すべての行動を入力する必要は<br>
				ありません。<br>
				(後から編集することが出来ます。)
			</p>
		</div>
	<% end %>
	<div class="container-mandalas text-center">
		<%= form_for @mandala_center, url: mandalas_path, method: :post do |f| %>
		<%= hidden_field_tag :step, @step %>
			<div class="mandalas-row">
				<div class="squares squares-gray">
					<div id="element1" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text1 %></p>
							<%= render 'mandalas/element_form',step: @step, value: 1, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element2" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text2 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 2, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element3" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text3 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 3, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
			</div>
			<div class="mandalas-row">
				<div class="squares squares-gray">
					<div id="element4" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text4 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 4, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-white">
					<div id="element_center" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @center_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text5 %></p>
							<%= f.hidden_field :target, class: "element_val" %>
							<%= f.hidden_field :number %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element5" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text6 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 5, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
			</div>
			<div class="mandalas-row">
				<div class="squares squares-gray">
					<div id="element6" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text7 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 6, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element7" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text8 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 7, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
				<div class="squares squares-gray">
					<div id="element8" class="box modal_open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text9 %></p>
							<%= render 'mandalas/element_form', step: @step, value: 8, f:f, mandala_center: @mandala_center %>
						</div>
					</div>
				</div>
			</div>
			<div class="margin-top row">
				<div class="col-md-4">
					<% if @step == 4 %>
						<%= link_to "前に戻る", new_mandala_path(step: 3), class: "button button-white" %>
					<% end %>
				</div>
				<div class="col-md-4">
					<% if @step == 3 %>
						<%= f.submit "完成！", class: "button button-blue" %>
					<% else %>
						<%= f.submit "保存して次へ", class: "button button-blue" %>
					<% end %>
				</div>
			</div>
	<% end %>
	</div>
</div>

<!-- 入力フォーム -->
<div id="input-modal" class="container">
	<i id="modal_close" class="fas fa-times pull-right fa-lg"></i>
	<div class="row">
		<div id="modal-header" class="row text-center">
			<h2 id="header-text"></h2>
		</div>
	</div>
	<div class="row cp_iptxt">
		<input id="input" class="" type="text" maxlength='20' placeholder="入力してください(20文字以内)">
	</div>
	<div class="row text-center">
		<button id="done" class="button button-blue margin-top">入力OK</button>
	</div>
</div>


<%= javascript_include_tag "mandalas_new.js" %>