
<div class="container-fluid mandara_main">
	<div class="row text-center">
		<h1>マンダラチャートを作成しよう！</h1>
			<p><%= @main_text %></p>
	</div>
	<%= form_for @mandala, url: mandalas_path, method: :post do |f| %>
		<%= hidden_field_tag :step, @step %>
			<div class="row text-center">
				<div class="squares">
					<div id="element1" class="box modal-open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">

							<p class="text"><%= @element_text1 %></p>
							<%= f.fields_for :elements do |m| %>
								<%= m.hidden_field :element, class: "element_val" %>
								<%= m.hidden_field :number, :value => 1, class: "element_num" %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="squares">
					<div id="element2" class="box modal-open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text2 %></p>
							<%= f.fields_for :elements do |m| %>
								<%= m.hidden_field :element, class: "element_val" %>
								<%= m.hidden_field :number, :value => 2, class: "element_num" %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="squares">
					<div id="element3" class="box modal-open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text3 %></p>
							<%= f.fields_for :elements do |m| %>
								<%= m.hidden_field :element, class: "element_val" %>
								<%= m.hidden_field :number, :value => 3, class: "element_num" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="squares">
					<div id="element4" class="box modal-open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text4 %></p>
							<%= f.fields_for :elements do |m| %>
								<%= m.hidden_field :element, class: "element_val" %>
								<%= m.hidden_field :number, :value => 4, class: "element_num" %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="squares">
					<div id="element5" class="box modal-open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @center_text %></p>
						</div>
						<div class="box-body">
								<p class="text"><%= @mandala_text %></p>
							<%= f.hidden_field :target, class: "element_val" %>
						</div>
					</div>
				</div>
				<div class="squares">
					<div id="element6" class="box modal-open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text5 %></p>
							<%= f.fields_for :elements do |m| %>
								<%= m.hidden_field :element, class: "element_val" %>
								<%= m.hidden_field :number, :value => 5, class: "element_num" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="squares">
					<div id="element7" class="box modal-open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text6 %></p>
							<%= f.fields_for :elements do |m| %>
								<%= m.hidden_field :element, class: "element_val" %>
								<%= m.hidden_field :number, :value => 6, class: "element_num" %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="squares">
					<div id="element8" class="box modal-open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text7 %></p>
							<%= f.fields_for :elements do |m| %>
								<%= m.hidden_field :element, class: "element_val" %>
								<%= m.hidden_field :number, :value => 7, class: "element_num" %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="squares">
					<div id="element9" class="box modal-open" target="#input-modal">
						<div class="box-header">
							<p class="element_title"><%= @around_text %></p>
						</div>
						<div class="box-body">
							<p class="text"><%= @element_text8 %></p>
							<%= f.fields_for :elements do |m| %>
								<%= m.hidden_field :element, class: "element_val" %>
								<%= m.hidden_field :number, :value => 8, class: "element_num" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		<%= f.submit "登 録", class: "btn btn-primary center-block mandala_submit" %>
	<% end %>
</div>

<!-- 入力フォーム -->
<div id="input-modal" class="container">
	<i id="modal-close" class="fas fa-times pull-right fa-lg"></i>
	<div class="row">
		<div id="modal-header" class="row text-center">
			<h2 id="header-text"></h2>
		</div>
	</div>
	<div class="row">
		<input id="input" class="col-md-10 col-md-offset-1" type="text" maxlength='30' placeholder="入力してください">
	</div>
	<div class="row">
		<button id="done" class="col-md-4 col-md-offset-4 btn btn-primary">入力OK</button>
	</div>
</div>


<%= javascript_include_tag "mandalas_new.js" %>