
<div id="message_area">
	<% if flash[:errors] %>
		<div class="alert alert-warning" role="alert" id="divAlert">
			<i id="alert_close" class="fas fa-times pull-right fa-lg"></i>
			<p>エラー<%= flash[:errors].count %>件発生</p>
			<% flash[:errors].each do |message| %>
				<p>・<%= message %>!</p>
			<% end %>
		</div>
	<% end %>
</div>

<div class="table-responsive">
	<table class="table table-hover" id="todoList">
		<thead>
			<tr>
				<th></th>
				<th>タスク内容</th>
				<th>期限</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% unless tasks.blank? %>
				<% tasks.each do |task| %>
				<tr class="task_content">
					<%= hidden_field_tag :task_id, task.id, id: "task_id" %>
					<td><%= link_to "完了", task_done_path(task.id), id: "btnDone", class: "btn btn-primary btnDone", remote: true %></td>
					<td><%= task.content %></td>
					<td><%= task.limit %></td>
					<td>
						<%= link_to task_path(task.id), method: :delete, id: "btnDel", class: "btn btn-danger btnDel", remote: true do %>
							<i class="fas fa-trash-alt"></i>
						<% end %>
					</td>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>