<!DOCTYPE html>
<html>
  <head>
    <title>Manda-la</title>
    <%= include_gon(init: true) %> <!-- gon gem読み込み -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid ">
        <div class="row">
          <div class="navbar-header col-md-2">
            <%= link_to root_path, class: "navbar-brand" do %>
              <span>Manda-la</span>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="col-md-4 col-md-offset-2">
                <ul class="nav navbar-nav">
                  <li><%= link_to "マイページ", user_path(current_user.id), class: "nav-btn" %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-btn" %></li>
                </ul>
            </div>

            <p class="navbar-text col-md-3 pull-right">ようこそ <%= current_user.name %> さん</p>
          <% else %>
              <div class="col-md-4 col-md-offset-2">
                <ul class="nav navbar-nav">
                  <li><a class="nav-btn modal_open" target="#modal1">会員登録</a></li>
                  <li><a class="nav-btn modal_open" target="#modal2">ログイン</a></li>
                </ul>
            </div>
            <p class="navbar-text col-md-3 pull-right">ようこそ ゲスト さん</p>

          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
