<!DOCTYPE html>
<html>
  <head>
    <title>Manda-la</title>
    <%= include_gon(init: true) %> <!-- gon gem読み込み -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= stylesheet_link_tag    'normalize' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
          <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
          <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
              <ul class="gn-menu">
                <% if user_signed_in? %>
                  <li><%= link_to "マイページ", user_path(current_user.id), class: "gn-icon gn-icon-mypage" %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "gn-icon gn-icon-logout" %></li>
                <% else %>
                  <li><a class="gn-icon gn-icon-user-regist modal_open" target="#modal1">会員登録</a></li>
                  <li><a class="gn-icon gn-icon-login modal_open" target="#modal2">ログイン</a></li>
                <% end %>
              </ul>
            </div><!-- /gn-scroller -->
          </nav>
        </li>
        <li><%= link_to root_path do %>Manda-la<% end %></li>
        <% if user_signed_in? %>
          <li><a class="codrops-icon codrops-icon-drop" href="#"><span>ようこそ<%= current_user.name %>さん</span></a></li>
        <% else %>
          <li><a class="codrops-icon codrops-icon-drop" href="#"><span>ようこそゲストさん</span></a></li>
        <% end %>
      </ul>
    </div>
    <%= yield %>

    <%= javascript_include_tag 'classie' %>
    <%= javascript_include_tag 'gnmenu' %>
    <script>new gnMenu( document.getElementById( 'gn-menu' ) );</script>

  </body>
</html>
